// Footer
#colophon {
    background: $footer-color;
    font-size: 20px;
    bottom: 0px;
    width: 100%;
    padding: 50px;
}

#colophon a {
    color: inherit;
}

#colophon a:hover {
    color: inherit;
}

